__pycache__/
*.pyc
*.pyo
venv/
shop.db
.secret_key
qr_codes/
shop_backup/
*.log

# added for GitHub upload
node_modules/
build/
dist/
.venv/
*.db
*.sqlite
*.exe
*.zip
*.rar
.env
.env.local
.vscode/
.idea/
.sixth/
.claude/
.dart_tool/
.codex_appdata/
*.xlsx
*.spec
bin/
obj/
private_key.pem
db_config.json
